# Product service
PRODUCT_DB_USERNAME=change_me
PRODUCT_DB_PASSWORD=change_me
PRODUCT_DB_NAME=productdb
PRODUCT_APP_PORT=8080
PRODUCT_DB_PORT=5433

# Order service
ORDER_DB_USERNAME=change_me
ORDER_DB_PASSWORD=change_me
ORDER_DB_NAME=orderdb
ORDER_APP_PORT=8081
ORDER_DB_PORT=5434

# Inventory service
INVENTORY_DB_USERNAME=change_me
INVENTORY_DB_PASSWORD=change_me
INVENTORY_DB_NAME=inventorydb
INVENTORY_APP_PORT=8082
INVENTORY_DB_PORT=5435

# API Gateway
GATEWAY_APP_PORT=9000