apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-db
spec:
  template:
    spec:
      containers:
        - name: postgres
          env:
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
