apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  template:
    spec:
      containers:
        - name: keycloak
          startupProbe:
            httpGet:
              path: /keycloak/
              port: 8080
            periodSeconds: 5
            failureThreshold: 60
            timeoutSeconds: 3

          readinessProbe:
            httpGet:
              path: /keycloak/
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 12

          livenessProbe:
            httpGet:
              path: /keycloak/
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 6
