apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  template:
    spec:
      initContainers:
        - name: wait-for-keycloak-db
          image: postgres:16-alpine
          command:
            - sh
            - -c
            - |
              echo "Waiting for Postgres to accept connections..."
              until pg_isready -h keycloak-db -p 5432 -U keycloak; do sleep 2; done

              echo "Waiting for database 'keycloak' to exist..."
              until psql -h keycloak-db -U keycloak -d postgres -tAc "SELECT 1 FROM pg_database WHERE datname='keycloak'" | grep -q 1; do sleep 2; done

              echo "DB is ready."
          env:
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: KEYCLOAK_DB_PASSWORD
