apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  labels:
    app: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: ghcr.io/destheboss/supplementhub-api-gateway:c0dffdb38bf32bfdaa7c94038e71d577fbe0c482
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9000
              name: http
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "docker"

            - name: PRODUCT_SERVICE_URL
              value: "http://product-service:8080"
            - name: ORDER_SERVICE_URL
              value: "http://order-service:8080"
            - name: INVENTORY_SERVICE_URL
              value: "http://inventory-service:8080"

            - name: LOKI_URL
              value: "http://loki:3100/loki/api/v1/push"
            - name: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
              value: "http://tempo:9411/api/v2/spans"

            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI
              value: "http://supplementhub.local/keycloak/realms/supplementhub-microservices-security-realm"
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI
              value: "http://keycloak:8080/keycloak/realms/supplementhub-microservices-security-realm/protocol/openid-connect/certs"

          startupProbe:
            httpGet:
              path: /actuator/health
              port: 9000
            failureThreshold: 60
            periodSeconds: 5

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 15
            timeoutSeconds: 3
            failureThreshold: 6

          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
