apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend
  namespace: supplementhub-cloud
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - app.supplementhub.space
      secretName: frontend-tls
  rules:
    - host: app.supplementhub.space
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
